body{
    font-family: 'Montserrat';
}
 /* title */
#title{
    background-color: #FF4C68;
    color: white;
}
.container-fluid{
    padding: 3% 15% 10%;
}
h1{
    font-family: 'Montserrat-black';
    font-size: 3rem;
    line-height: 1.5;  
}
h2{
    
    font-family: 'Montserrat-black';
    font-size: 3rem;
    line-height: 1.5;  
}
h3{
    font-family:"montserrat-black" ;
}
p{
    color: #8f8f8f;
}
/* nav bar*/
.navbar{
    padding: 0 0 4.5rem;
}
.navbar-brand{
    font-family: "ubuntu"; 
    font-size:3.5rem;
     
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat-light';
}
/*button*/
.download-button{
    margin: 5% 3% 5% 0;
}
/* tittle */
.title-image{
    width: 50%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}
#features{
 padding: 7% 15%;
 background-color: #fff;
 position: relative;
}
.feature-box{
    text-align: center;
    padding: 4.5%;
}
.icon{
    color: #ef8172;
    margin: 1rem;
}
.icon:hover{
    color: #FF4C68 ;
}
#testimonials{
   
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}
.testimonials-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.carousel-item{
    padding: 7% 15%;
}
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 13%;
    margin: 20px 20px 50px;
}
/* pricing section */

#pricing{
    padding: 100px;
}
.pricing-coloumn{
    padding: 3% 2%;
}
/* cta */
#cta{
    background-color: #ff4c68;
    color: #fff;
    padding: 3% 15%;
    text-align: center;
}
.cta-heading{
    font-family: 'Montserrat-black';
    font-size: 3.5rem;
    line-height: 1.5;
}
/* footer */
#footer{
    padding: 7% 15%;
    text-align: center;

}
.social-iocn{
    margin: 10px 15px;
}

@media (max-width:1030px) {
    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
    }

}